:root {
    --main-bg: #edf0f1;
    --text-grey: #868585;
    --text-grey-dark: #4d4b4b;
    --width-1024: 1024px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}
body { 
    max-width: 100%; 
    height: 100%;
    color: #2b2a2a; 
}
body.lock {
    overflow: hidden;
} 
html {
    scroll-behavior: smooth;
  } 

.wrapper {
    max-width: 1170px;
    margin: 20px auto;
    padding: 0 15px;
    background-color: var(--main-bg);
    box-shadow:  0px 8px 24px rgba(77, 75, 75, 0.4);
} 

/* .container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
    /* background-color: var(--main-bg); */


/* header */
.header {
    position: relative;
}

.header__nav {
    position: relative;
    padding: 20px 0;
    width: 100%;
}

.header__list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header__list-item {
    padding: 0 15px;
    list-style: none;

}
.header__list-item_link {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--text-grey);
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: 0.5s all ease;
}

.header__list-item_link:hover {
    border-color: var(--text-grey);
}

.burger {
    position: absolute;
    top: 20px;
    right: 20px;
    display: none;
    width: 25px;
    height: 12px;
    z-index: 20;
    cursor: pointer;
}

.burger.active span:before {
   transform: rotate(45deg); 
   top: -3px;
   background-color: var(--text-grey-dark);
}
.burger.active span:after {
    transform: rotate(-45deg); 
    top: -3px;
    background-color: var(--text-grey-dark);
 }
.burger.active span {
    background-color: transparent;
 }

.burger span {
    position: absolute;
    display: block;
    top: 6px;
    width: 100%;
    height: 3px;
    background-color: var(--text-grey);
}
 .burger span::before {
    position: absolute;
    top: -6px;
    display: block;
    content: '';
    width: 100%;
    height: 3px;
    background-color: var(--text-grey);
    transition: 0.4s ease all;
}
.burger span::after {
    position: absolute;
    bottom: -6px;
    display: block;
    content: '';
    width: 100%;
    height: 3px;
    background-color: var(--text-grey);
    transition: 0.4s ease all;
}

/* introdaction section */
.introduction {
    padding-top: 30px;

}
.introduction__row {
    display: flex;
    justify-content: center;
    align-items: center;
}
.introduction-left{
    width: 60%;
    text-align: center;
    align-self: center;
}

.title{
    text-align: center;
    color:  #868585;
    font-size: 1.8rem;
}

.title::after{
    display: block;
    content: '';
    position: absolute;
    top: 60;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: 2px;
    background-color: #ABABAB;
}

.introduction-title {
    font-size: 2.5rem;
    /* color: #ABABAB; */
    color: #4d4b4b;
    position: relative;
}
.introduction-subtitle {
    margin-top: 20px;
    font-size: 2.0rem;
    color: #868585;
}

.introduction-img__wrapper {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    overflow: hidden;
    position: relative;
}
.introduction-img__wrapper_img {
    max-width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}

/* contacts section */
.contacts {
    padding-top: 30px;
}
.contacts__row {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.contacts__row li{
    list-style: none;
}
.contacts-phone,
.contacts-email,
.contacts-github {
    color: #2b2a2a;  
}

.contacts-github__link {
    text-decoration: none;
    color: #2b2a2a;
    transition: 0.4s ease; 
}
.contacts-github__link:hover {
    color: #f4c135;
}

/* about me section */
.about-me {
    padding-top: 30px;
}

.about-me__descr {
    margin-top: 30px;
    padding: 0 30px;
    color: #2b2a2a; 
    line-height: 1.5rem;
    text-align: justify;
}

/* skill section  */
.skill {
    padding-top: 30px;
}

.skill__row {
    margin-top: 20px;
    padding: 0 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    
}

.list {
    list-style: none;
}
.list__item {
    padding: 8px 0;
    
}

/* experience-work */
.experience-work {
    padding-top: 30px;
}
.experience-work-title::after {
    width: 380px;
}

.experience-work__row {
    margin-top: 20px;
    padding: 0 30px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: start;
}

.experience-work__item a{
    text-decoration: none;
    color: #2b2a2a;
    transition: 0.4s ease; 
}

.experience-work__item a:hover {
    color: #f4c135;;
}

.experience-work__code{
    background-color:#dbdcdd;
}
pre{
    font-size: 0.7rem;
}

/* more section  */
.more {
    padding-top: 30px;
}

.more__row {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    justify-self: center;
}

.more-subtitle {
    margin-bottom: 10px;
    text-align: center;
    color:  #868585;
    font-size: 1.2rem;
}

.more-background {
    width: 30%;
    text-align: center;
    line-height: 1.5rem;
}

.more-languages {
    width: 30%;
    line-height: 1.5rem;
}
.more-list {
    text-align: center;
}

.more-hobbies {
    width: 30%;
    line-height: 1.5rem;
}

/* footer section  */
.footer__row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer_github-link{
    text-decoration: none;
    color: #2b2a2a;
}

.footer_github-link svg{
    transition: 0.4s all ease;
}

.footer_github-link svg:hover{ 
    fill: #f4c135;
}

.footer_github-link,
.footer__logo,
.footer__logo svg {
    transition: 0.4s ease;
}
.footer__logo svg:hover{ 
    fill: #f4c135;
}

.footer_github-link:hover,
.footer_github-link:hover {
    color: #f4c135;
}


/* adaptive style */
@media(max-width: 1200px) {
    .wrapper {
        max-width: 970px;
    }
}

@media(max-width: 992px) {
    html {
        font-size: 14px;
    }
    .wrapper {
        max-width: 720px;
    }
    .experience-work-title::after {
        width: 300px;
    }

}
@media(max-width: 768px) {
    html {
        font-size: 12px;
    }
    .wrapper {
        max-width: 100%;
        margin: 0 auto;
        border: none;
    }

    .burger {
        display: block;
        
    }

    .header__nav {
        position: fixed;
        width: 100%;
        height: 100%;
        top: -100%;
        left: 0;
        background-color: rgb(244, 193, 53, 0.9);
        z-index: 10;
        transition: 0.5s ease all;
    }
    .header__list {
        margin-top: 30px;
        flex-direction: column;
        overflow: auto;
    }
    .header__list-item {
        padding: 15px;
        width: 80%;
        text-align: center;
    }
    .header__list-item_link {
        font-size: 1.8rem;
        color: var(--text-grey-dark);
    }

    .header__nav.active {
        top: 0;
        overflow: auto;
    }

    .introduction__row {
        flex-direction: column;
    }

    .introduction-img__wrapper {
        order: -1;
    }

    .introduction-left {
        margin-top: 30px;
    }
}
@media(max-width: 576px) {
   
    

}
@media(max-width: 420px) {
    .introduction-title {
        font-size: 2.0rem;
    }
    .introduction-subtitle {
        font-size: 1.5rem;
        margin-top: 10px;
    }

}








